# Use `docker-compose up -d` to start
services:
  postgres:
    # See https://hub.docker.com/_/postgres
    # Use `docker ps` and `docker logs -f vsm-restaurant-postgres-1` to check status
    image: postgres:17-alpine
    ports:
      - "127.0.0.1:5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=test # random password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=vsm_restaurant
  dummy:
    # This container can be used to access postgres_data volume even if postgres is not running
    # `docker exec -ti vsm-restaurant-dummy-1 ash`
    image: alpine:latest
    command: sleep infinity
    volumes:
      - postgres_data:/data
#  app:
#    build: .
#    ports:
#     - "8002:8000"
volumes:
  postgres_data:
